In [8]:
#import data modules 
import numpy as np
import scipy.stats as stats
import pandas as pd

#import plotting modules
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')

# make sure charts appear in the notebook:
%matplotlib inline
%config InlineBackend.figure_format ='retina'

In [13]:
df = pd.read_csv('~/Desktop/CHART_Lab/Database/2012_selected.csv', low_memory=False)

In [14]:
df.head()

,Id,S41,S5a,S5b,S6,A2,A3a,A3b,A3c,A4,...,A75a,A81,A81a,A81aa,A81b,A82,A87,A88,A89b,A90b
0,10002,Hunan,Rural,Rural,family households,Female,1973,4,18,Han,...,20000,Currently engage in non-agricultural work,No,NaN,NaN,formal employee,self-employed,Private or Private Holding,never attend school formally,never attend school formally
1,10003,Hunan,Rural,Rural,Collective Households,Male,1944,5,1,Han,...,0,"currently engage in agriculture work, never en...",NaN,NaN,NaN,NaN,NaN,NaN,traditional apprentice learning (si shu),never attend school formally
2,10004,Hunan,Rural,Rural,family households,Male,1955,12,24,Han,...,5000,"currently engage in agriculture work, had enga...",NaN,NaN,NaN,NaN,NaN,NaN,Other,Other
3,10005,Hunan,Rural,Rural,family households,Female,1958,5,7,Han,...,20000,"currently engage in agriculture work, had enga...",NaN,NaN,NaN,NaN,NaN,NaN,never attend school formally,never attend school formally
4,10006,Hunan,Rural,Rural,family households,Male,1967,12,15,Han,...,0,"currently engage in agriculture work, never en...",NaN,NaN,NaN,NaN,NaN,NaN,Primary School,Primary School

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11765 entries, 0 to 11764
Columns: 147 entries, Id to A90b
dtypes: int64(1), object(146)
memory usage: 13.2+ MB

In [18]:
df.isnull().sum()

Id           0
S41          0
S5a          0
S5b          0
S6           0
A2           0
A3a          0
A3b          0
A3c          0
A4           0
A501         0
A511         0
A512         0
A513         0
A514         0
A515         0
A516         0
A517         0
A518         0
A519         0
A520         0
A521         0
A521a    11763
A6           0
A7a          2
A7b       1650
A7c       1650
A8a          0
A8b          0
A121         0
         ...
A59l      7125
A611         0
A612         0
A613         0
A614         0
A62          0
A64          0
A65          0
A66          0
A671         0
A672         0
A673         0
A674         0
A675         0
A676         0
A677         0
A678         0
A679         0
A69          0
A72       2344
A75a      2344
A81       2344
A81a      7623
A81aa    11679
A81b     11679
A82       7623
A87       7623
A88       7680
A89b         0
A90b         0
dtype: int64

In [20]:
df['S6'].value_counts()

family households        11451
Refused to answer          162
Collective Households      152
Name: S6, dtype: int64